.tweetBox{
    padding-bottom: 10px;
    /* border-bottom: 8px solid var(--twitter-background); */
    border-bottom: 4px solid rgb(140, 137, 137);
    border-right: 10px;
}

.tweetBox > form{
    display: flex;
    flex-direction: column;
}

.tweetBox_input{
    padding: 20px;
    display: flex;
}
.tweetBox_input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
    border: none;
}
.tweetBox_tweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 100px !important;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
    margin-right: 25px !important;

}

label{
    
    padding: 7px;
    border: 0.5px solid var(--twitter-color);
    cursor: pointer;
    max-width: 20%;
    border-radius: 20px;
    text-align: center;
    background-color: var(--twitter-background);
    color: var(--twitter-color);
    margin-top: 19px;
    margin-left: 22px;

}

.inputField{

}

#inputTag {
    display: none;
}